@use "sass:map";
@use '../../theme';

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  z-index: -1;
}

.section {
  width: 50%;
  height: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: auto;
  border-radius: 8px;
  background-color: map.get(theme.$light-theme, 'background');
  box-shadow: 0 0 44px 4px rgb(193 185 185 / 75%);
  z-index: 1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: map.get(theme.$light-theme, 'background');

  }

  &::-webkit-scrollbar-thumb {
    background: map.get(theme.$light-theme, 'primary');
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: map.get(theme.$light-theme, 'primary');
  }

  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 5px;
  }

  &::-webkit-scrollbar-track-piece:start {
    margin-top: 5px;
  }
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  li {
    font-size: 1.063rem;
    font-weight: 500;
    color: map.get(theme.$light-theme, 'black');
    font-family: var(--font-family);
  }

  li::before {
    content: "\2022";
    color: #faad14;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  @media screen and (min-width:1170px) {
    li::after {
      content: "\2022";
      color: #faad14;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: 1em;
    }
  }

}



.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5%;
}

.formItem {
  width: 100%;
  margin-bottom: 26px;

  :global .ant-form-item-label {
    width: max(21%, 150px);

    &>label {
      font-size: 0.875rem;
      width: 100%;
    }
  }

  :global .ant-form-item-label>label {
    color: map.get(theme.$light-theme, 'black');
  }
}

.submitButton {
  width: 100%;
  margin-top: 4%;

  >span {
    font-weight: 600;
    font-size: 1rem;
  }

  a {
    width: 100%;
    display: block;
  }
}