@use "sass:map";
@use '../../theme';

.main {
  width: 100%;
  height: 100%;

  background-color: map.get(theme.$light-theme, 'background');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 60%;
  height: 60%;
}