@use "sass:map";
@use '../../../theme';

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: map.get(theme.$light-theme, 'background');
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: map.get(theme.$light-theme, 'background');

  }

  &::-webkit-scrollbar-thumb {
    background: map.get(theme.$light-theme, 'primary');
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: map.get(theme.$light-theme, 'primary');
  }

  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 30px;
  }

  &::-webkit-scrollbar-track-piece:start {
    margin-top: 30px;
  }
}

.pieChartCol {
  width: 100%;
  height: 100%;
  padding: 5% 2% 1% 2%;
  display: flex;
  flex-direction: column;

  :global .VictoryContainer {
    width: 100% !important;
    height: calc(100% - 100px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      max-width: 700px !important;
    }
  }

}

.cardsSection {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.totalContactsCard {
  width: 33.3%;
  height: 100%;
  box-shadow: 0 0 44px 4px rgb(193 185 185 / 35%);
  background-color: map.get(theme.$light-theme, 'background');

  :global .ant-card-head {
    height: 56px;
  }

  :global .ant-card-head-title {
    text-align: center;
  }

  :global .ant-card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: calc(100px - 56px);

    >p {
      margin: 0px;
    }
  }
}


.columnChartCol {
  width: 100%;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global .VictoryContainer {
    box-sizing: border-box;
    width: 100% !important;
    height: calc(100% - 200px) !important;

    svg {
      height: 100% !important;
    }

    path {
      fill: #67d894 !important;
      stroke: #67d894 !important;
    }

    tspan {
      font-family: var(--font-family) !important;
      font-size: 0.5rem !important;
    }
  }

}


.descriptionCard {
  width: 90%;
  height: 200px;


  :global .ant-card-body {
    padding: 0px 24px 24px 24px;
    max-height: calc(200px - 56px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: map.get(theme.$light-theme, 'background');

    }

    &::-webkit-scrollbar-thumb {
      background: map.get(theme.$light-theme, 'primary');
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: map.get(theme.$light-theme, 'primary');
    }

    &::-webkit-scrollbar-track-piece:end {
      margin-bottom: 10px;
    }

    &::-webkit-scrollbar-track-piece:start {
      margin-top: 10px;
    }

  }

  :global .ant-card-head-title {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: left;
  }


}