@use "sass:map";
@use '../../../theme';

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: map.get(theme.$light-theme, 'background');
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: map.get(theme.$light-theme, 'background');

  }

  &::-webkit-scrollbar-thumb {
    background: map.get(theme.$light-theme, 'primary');
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: map.get(theme.$light-theme, 'primary');
  }

  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 30px;
  }

  &::-webkit-scrollbar-track-piece:start {
    margin-top: 30px;
  }
}

.columnChartCol {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2%;
}

.columnChart {
  box-sizing: border-box;
  width: 100%;
  height: 100% !important;
  padding: 1%;
}


.pieChartCol {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pieChart {
  width: 75%;
  height: 55% !important;
}

.descriptionCard {
  width: 90%;
  height: auto;

  :global .ant-card-head-title {
    font-size: 1.125rem;
    font-weight: 800;
  }
}