@use "sass:map";
@use '../../theme';

.main {
  width: 100%;
  height: 100%;
  background-color: map.get(theme.$light-theme, 'background');
}

.content {
  width: 100%;
  height: calc(100% - 60px);
  background-color: map.get(theme.$light-theme, 'background');
}