@use "sass:map";
@use '../../../theme';



.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: map.get(theme.$light-theme, 'background');
  padding: 20px;
}

.header {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 1.25rem;
}

.title {
  width: 25%;
  font-weight: 800;
  font-family: 'Montserrat';
}

.searchSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 75%;
}

.searchInput {
  width: 30%;
  margin-right: 5px;
}


.contactsSection {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 50px - 15px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 4%;
  column-gap: 2%;
  padding: 10px 10px 40px 10px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 8px;
  overflow-y: scroll;


  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: map.get(theme.$light-theme, 'background');

  }

  &::-webkit-scrollbar-thumb {
    background: map.get(theme.$light-theme, 'primary');
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: map.get(theme.$light-theme, 'primary');
  }

  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 20px;
  }

  &::-webkit-scrollbar-track-piece:start {
    margin-top: 20px;
  }
}

.card {
  width: 23%;
  height: fit-content;
  box-shadow: 0px 0px 13px 2px rgba(230, 230, 230, 1);
}

.description {
  box-sizing: border-box;
  width: 100%;
  padding-left: 56px;
  word-wrap: break-word;

  p {
    width: 100%;
  }
}


.deleteModal {
  width: 45% !important;

  :global .ant-modal-content {
    background-color: map.get(theme.$light-theme, 'background');
    height: 100%;
    width: 100% !important;

    :global .ant-modal-body {
      max-height: 50vh;
      overflow-y: auto;

      p {
        &:first-child {
          font-size: 1rem;
          font-weight: 800;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          margin: 0;
          font-size: 0.875rem;
          padding-left: 20px;
        }
      }
    }

    :global .ant-modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 20px;
    }
  }
}

.deleteModalButton {
  width: 130px;
}

.drawer {
  :global .ant-drawer-content-wrapper {
    width: 40vw !important;
    height: 100vh;
  }
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.formSection {
  width: 100%;

  :global .ant-form-item-label {
    text-align: left;
  }
}

.submitButtonFormItem {
  width: 100%;

  &.ant-form-item {
    margin-bottom: 2px;
  }
}

.cancelButton {
  width: 49%;
  margin-right: 2%;
}

.submitButton {
  width: 49%;
}

.informModal {
  width: 45% !important;

  :global .ant-modal-content {
    background-color: map.get(theme.$light-theme, 'background');
    height: 100%;
    width: 100% !important;

    :global .ant-modal-body {
      max-height: 50vh;
      overflow-y: auto;

      p {
        &:first-child {
          font-size: 1rem;
          font-weight: 900;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          margin: 0;
          font-size: 0.875rem;
          padding-left: 20px;
        }
      }
    }

    :global .ant-modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 20px;
    }
  }
}

.informModalButton {
  width: 100%;
}